@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

div#celular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

div > iframe {
    background-image: url(imagens/frame-iphone.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: auto;
    overflow: hidden;
    
}